<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>

<body>
    <h1>Contact List</h1>
    <form action="/create-contact" method="post">
        <input type="text" name="name" placeholder="name" required>
        <input type="number" name="phone" placeholder="phone" required>
        <button type="submit">Add contact</button>
    </form>
    <div>
        <ul>
            <% for(let i of locals.contact_list){ %>
            <li><%= i.name %>&nbsp<%= i.phone %></li>
            <%}%>
        </ul>
    </div>
    





    <script src="./js/three.r95.min.js"></script>
    <script src="./js/vanta.net.min.js"></script>
    <script>
        VANTA.NET({
            el: "body",
            mouseControls: true,
            touchControls: true,
            minHeight: 200.00,
            minWidth: 200.00,
            scale: 1.00,
            scaleMobile: 1.00
        })
    </script>
    <script type="text/javascript" src="./js/home.js"></script>
</body>
</html>